.red {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  transition: opacity 500ms ease-in-out;
  padding: 10px;
  margin-bottom: 100px;
  opacity: 1;
  font-family: Roboto;
}
.hui {
  background-color: grey;
}
.hui2{
  color: white;
}

body {
  margin: 100;
  margin-right: 100
font-size: 20;
font-family: Roboto;
}

.a1{
  font-size: 18;
  padding: 15;
  font-family: Roboto;
}

.flex_image{
width: 250px;
height: 250px;
}

.button-container1{
  display: flex;
  justify-content: space-between;
  align-items: center;

}